//        ------      desktop     --------

@media screen and (min-width: 1200px) {
  .section-patients {
    padding: 80px 60px;
  }
  .patients {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-align: center;
    color: var(--red);
    margin-bottom: 20px;
  }
  .patients-dental {
    font-family: 'El Messiri', sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 1;
    text-align: center;
    color: var(--black);
    margin-bottom: 30px;
  }
  .patients-dental-item {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: var(--light-black);
  }
  .patients-container {
    display: flex;
    gap: 185px;
  }
  .patients-image {
    border-radius: 10px;
  }
  .container-patient {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
  }
  .patient-header-four {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.05em;
    text-align: center;
    color: var(--red);
  }
  .patient-header-second {
    font-family: 'El Messiri', sans-serif;
    font-weight: 400;
    font-size: 34px;
    line-height: 1;
    text-align: center;
    color: var(--black);
  }
  .patient-item {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: var(--light-black);
  }
  .patient-button {
    border: 1px solid var(--dark-red);
    border-radius: 8px;
    padding: 15px 30px;
    width: 153px;
    height: 55px;
    color: var(--dark-red);
    background-color: var(--white);
  }
  .patient-button:hover {
    color: var(--white);
    background-color: var(--red);
  }
  .patient-margin {
    margin-bottom: 180px;
  }
}
//       ------      tablet     ----------

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-patients {
    padding: 30px;
  }
  .patients {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-align: center;
    color: var(--red);
    margin-bottom: 20px;
  }
  .patients-dental {
    font-family: 'El Messiri', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 1;
    text-align: center;
    color: var(--black);
    margin-bottom: 30px;
  }
  .patients-dental-item {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: var(--light-black);
  }
  .patients-container {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .patients-image {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
  }
  .container-patient {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 140px;
    box-sizing: border-box;
  }
  .patients-container:hover .container-patient,
  .patients-container:focus .container-patient {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
  .patient-header-four {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-align: center;
    color: var(--red);
  }
  .patient-header-second {
    font-family: 'El Messiri', sans-serif;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    color: var(--black);
  }
  .patient-item {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: var(--black);
  }
  .patient-button {
    border: 1px solid var(--dark-red);
    border-radius: 8px;
    padding: 15px 30px;
    width: 153px;
    height: 55px;
    color: var(--dark-red);
    background-color: var(--white);
  }
  .patient-button:hover,
  .patient-button:focus {
    color: var(--white);
    background-color: var(--red);
  }
  .patient-margin {
    margin-bottom: 120px;
  }
}

//      -------     mobile      --------

@media screen and (max-width: 767px) {
  .section-patients {
    padding: 30px;
  }
  .patients {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-align: center;
    color: var(--red);
    margin-bottom: 20px;
  }
  .patients-dental {
    font-family: 'El Messiri', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 1;
    text-align: center;
    color: var(--black);
    margin-bottom: 30px;
  }
  .patients-dental-item {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: var(--light-black);
  }
  .patients-container {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .patients-image {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
  }
  .container-patient {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 70px;
    box-sizing: border-box;
  }
  .patients-container:hover .container-patient,
  .patients-container:focus .container-patient {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
  .patient-header-four {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 0.05em;
    text-align: center;
    color: var(--red);
  }
  .patient-header-second {
    font-family: 'El Messiri', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: var(--black);
  }
  .patient-item {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: var(--black);
  }
  .patient-button {
    border: 1px solid var(--dark-red);
    border-radius: 8px;
    padding: 10px 20px;
    width: 123px;
    height: 45px;
    color: var(--dark-red);
    background-color: var(--white);
  }
  .patient-button:hover,
  .patient-button:focus {
    color: var(--white);
    background-color: var(--red);
  }
  .patient-margin {
    margin-bottom: 60px;
  }
}
