<section class="section-smile">
  <h3 class="smile-section">WELCOME TO HALIFAX FAMILY DENTAL CARE</h3>
  <h2 class="smile-header">Creating beautiful smiles for all ages</h2>
  <p class="smile-item">
    We are a family dental practice that has earned the trust of our
    patients<span class="line">
      through honesty, efficiency, and good communication.</span
    >
  </p>

  <ul class="smile-list">
    <li class="align-start">
      <img
        width="291"
        height="440"
        src="./images/Image1sec.png"
        alt="Three Generations Smiling"
        class="smile-image"
      />
    </li>
    <li>
      <img
        width="291"
        height="440"
        src="./images/Image2sec.png"
        alt="Dark-skinned girl frowning and holding hands with camera"
        class="smile-image"
      />
    </li>
    <li class="align-start">
      <img
        width="291"
        height="440"
        src="./images/Image3sec.png"
        alt="An elderly woman is very satisfied with the doctor"
        class="smile-image"
      />
    </li>
    <li>
      <img
        width="291"
        height="440"
        src="./images/Image4sec.png"
        alt="A dark-colored man in braces is smiling"
        class="smile-image"
      />
    </li>
  </ul>
  <ul class="smile-clients">
    <li>
      <h3 class="quantity">20 <span class="plus">+</span></h3>
      <p class="quantity-item">Years Of Experience</p>
    </li>
    <li>
      <h3 class="quantity">200 <span class="plus">+</span></h3>
      <p class="quantity-item">Satisfied Clients</p>
    </li>
    <li>
      <h3 class="quantity">20 <span class="plus">+</span></h3>
      <p class="quantity-item">Certified Dentist</p>
    </li>
  </ul>
</section>
