<section class="brand-section">
  <h3 class="brand">WE ACCEPT YOUR INSURANCE</h3>
  <h2 class="brand-dental">Our Partners</h2>
  <p class="brand-dental-item">
    We are partnered with the leading insurance providers to ensure you have
    seamless and hassle-free dental care.
  </p>
  <div class="brand-container">
    <ul class="brand-logo-list">
      <li class="brand-logo-item">
        <a class="brand-logo-customers" href="#">
          <img src="./images/Image1.png" alt="" width="130" height="75" />
        </a>
      </li>
      <li class="brand-logo-item">
        <a class="brand-logo-customers" href="#">
          <img src="./images/Image2.png" alt="" width="130" height="75"
        /></a>
      </li>
      <li class="brand-logo-item">
        <a class="brand-logo-customers" href="#">
          <img src="./images/Image3.png" alt="" width="130" height="75"
        /></a>
      </li>
      <li class="brand-logo-item">
        <a class="brand-logo-customers" href="#">
          <img src="./images/Image4.png" alt="" width="130" height="75"
        /></a>
      </li>
      <li class="brand-logo-item">
        <a class="brand-logo-customers" href="#">
          <img src="./images/Image5.png" alt="" width="130" height="75"
        /></a>
      </li>
      <li class="brand-logo-item">
        <a class="brand-logo-customers" href="#">
          <img src="./images/Image6.png" alt="" width="130" height="75"
        /></a>
      </li>
    </ul>
  </div>
</section>
