<section class="brand-section">
  <h5 class="brand-header">We accept your insurance</h5>
  <div class="brand-logo">
    <img src="./images/Image1.png" alt="" width="150" height="75" />
    <img src="./images/Image2.png" alt="" width="150" height="75" />
    <img src="./images/Image3.png" alt="" width="150" height="75" />
    <img src="./images/Image4.png" alt="" width="150" height="75" />
    <img src="./images/Image5.png" alt="" width="150" height="75" />
    <img src="./images/Image6.png" alt="" width="150" height="75" />
  </div>
</section>
