<footer class="footer">
  <div class="footer-container">
    <p class="footer-item">
      © 2024 <a href="https://github.com/VitaTro"> Vita Tro </a>. All rights
      reserved.
    </p>
    <ul class="social-media">
      <li>
        <svg width="24" height="24" class="social-icon">
          <use href="./images/icons.svg#icon-facebook" />
        </svg>
      </li>
      <li>
        <svg width="24" height="24" class="social-icon">
          <use href="./images/icons.svg#icon-twitter" />
        </svg>
      </li>
      <li>
        <svg width="24" height="24" class="social-icon">
          <use href="./images/icons.svg#icon-instagram" />
        </svg>
      </li>
      <li>
        <svg width="24" height="24" class="social-icon">
          <use href="./images/icons.svg#icon-linkedin" />
        </svg>
      </li>
      <li>
        <svg width="24" height="24" class="social-icon">
          <use href="./images/icons.svg#icon-youtube" />
        </svg>
      </li>
    </ul>
  </div>
</footer>
