<header>
  <div class="header">
    <div class="header-container">
      <svg width="36" height="42">
        <use href="./images/icons.svg#icon-logo"></use>
      </svg>
      <div class="logo-container">
        <h3 class="logo-header">Family Dental Care</h3>
        <p class="logo-p">Dentistry and Orthodontics</p>
      </div>
    </div>
    <address class="address">
      <ul class="address-list">
        <li class="address-item">
          <svg width="15" height="18">
            <use href="./images/icons.svg#icon-address"></use>
          </svg>
          Cooks Mill Rd, Halifax NS, Canada
        </li>
        <li class="address-item">
          <svg width="15" height="18">
            <use href="./images/icons.svg#icon-clock"></use></svg
          >Office Hour: 08:00am - 6:00pm
        </li>
        <li class="address-item">
          <svg width="15" height="18">
            <use href="./images/icons.svg#icon-phone"></use>
          </svg>
          123 456 7890
        </li>
      </ul>
    </address>
  </div>
</header>
