<section class="hero-section">
  <div class="hero-container">
    <div class="container-general">
      <h4 class="container-general-four">HALIFAX FAMILY DENTAL CARE</h4>
      <h1 class="container-general-one">
        <span class="line"> Local dentists who</span>
        <span class="line"> love to make you</span>
        <span class="line">smile.</span>
      </h1>
      <p class="container-general-p">
        Discover a level of dental care like no other
      </p>
      <div class="buttons">
        <button
          class="button headline-main-button"
          type="button "
          data-modal-open
        >
          Book an Appointment
        </button>
        <button class="button">Browse our service</button>
      </div>
    </div>
    <div>
      <img
        src="./images/hero-image.png"
        width="603"
        height="605"
        alt="Happy Dark Woman Smiling"
      />
      <svg class="icon-curve">
        <use href="./images/icons.svg#icon-curve"></use>
      </svg>
    </div>
  </div>
</section>

<!-- modal window -->
<div class="is-hidden modal modal-windows" data-modal>
  <button type="button" class="modal-windows-close" data-modal-close>
    <svg class="modal-svg" width="8" height="8">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <div class="modal-container">
    <form
      name="registration-form"
      autocomplete="on"
      novalidate
      class="registration-form"
    >
      <label for="name" class="registration-label"> Name</label>
      <input
        type="text"
        name="username"
        placeholder="Full Name"
        class="modal-input"
      />
      <label for="email" class="registration-label">Email Address</label>
      <input
        type="email"
        name="email"
        id="user_email"
        placeholder="email@example.com"
        class="modal-input"
      />
      <label for="phone" class="registration-label">Phone Number</label>
      <input
        type="tel"
        name="phone"
        placeholder="(12) 345-6789"
        class="modal-input"
      />
      <label for="text" class="registration-label">Service </label>
      <input
        type="text"
        name="text"
        placeholder="Ex. Dental Implants"
        class="modal-input"
      />

      <label for="text" class="registration-label">Message</label>
      <textarea
        name="feedback"
        placeholder="Please describe what service you are interested in"
        class="modal-textarea"
      ></textarea>
      <button type="submit" class="modal-button">Submit</button>
    </form>
  </div>
</div>
