<section class="hero-section">
  <div class="hero-container">
    <div class="container-general">
      <h4 class="container-general-four">HALIFAX FAMILY DENTAL CARE</h4>
      <h1 class="container-general-one">
        <span class="line"> Local dentists who</span>
        <span class="line"> love to make you</span>
        <span class="line">smile.</span>
      </h1>
      <p class="container-general-p">
        Discover a level of dental care like no other
      </p>
      <div class="buttons">
        <button
          class="button headline-main-button"
          type="button "
          data-modal-open
        >
          Book an Appointment
        </button>
        <button class="button">Browse our service</button>
      </div>
    </div>
    <div>
      <img
        src="./images/hero-image.png"
        width="603"
        height="605"
        alt="Happy Dark Woman Smiling"
      />
      <svg class="icon-curve">
        <use href="./images/icons.svg#icon-curve"></use>
      </svg>
    </div>
  </div>
</section>
