<section class="section-smile">
  <h3 class="services">OUR SERVICES</h3>
  <h2 class="services-dental">Quality dental services</h2>
  <p class="services-dental-item">
    Our dentists provide a range of services to all ages and needs to keep their
    teeth and gums healthy for life
  </p>
  <ul class="services-image">
    <li class="services-list">
      <div>
        <p class="label">General Dentistry</p>
        <img src="./images/Image1sec3.png" width="373px" height="220px" />
        <div class="services-container">
          <p class="services-item">
            Our general dentistry services include a range of preventative and
            targeted treatments essential for maintaining healthy teeth and
            gums.
          </p>
        </div>
        <div class="services-buttons">
          <button class="services-button">
            Fillings
            <svg width="11" height="10" class="services-icon">
              <use href="./images/icons.svg#icon-vector"></use>
            </svg>
          </button>
          <button class="services-button">
            Examination, scale & clean
            <svg width="11" height="10" class="services-icon">
              <use href="./images/icons.svg#icon-vector"></use>
            </svg>
          </button>
          <button class="services-button">
            Children`s dentistry
            <svg width="11" height="10" class="services-icon">
              <use href="./images/icons.svg#icon-vector"></use>
            </svg>
          </button>
          <button class="services-button">
            Gum disease
            <svg width="11" height="10" class="services-icon">
              <use href="./images/icons.svg#icon-vector"></use>
            </svg>
          </button>
          <button class="services-button">
            Root canal therapy
            <svg width="11" height="10" class="services-icon">
              <use href="./images/icons.svg#icon-vector"></use>
            </svg>
          </button>
          <button class="services-button">
            Wisdom teeth
            <svg width="11" height="10" class="services-icon">
              <use href="./images/icons.svg#icon-vector"></use>
            </svg>
          </button>
          <button class="services-button">
            Mouthguards
            <svg width="11" height="10" class="services-icon">
              <use href="./images/icons.svg#icon-vector"></use>
            </svg>
          </button>
        </div>
      </div>
    </li>
    <li class="services-list">
      <div>
        <p class="label">Dental Cosmetic</p>
        <img src="./images/Image2sec3.png" width="373px" height="220px" />
        <div class="services-container">
          <p class="services-item">
            We know the first thing people notice about you is your smile, We
            deliver incredible cosmetic result that will have you smiling with
            confidence.
          </p>
        </div>
        <div class="services-buttons">
          <button class="services-button">
            Teeth whitening
            <svg width="11" height="10" class="services-icon">
              <use href="./images/icons.svg#icon-vector"></use>
            </svg>
          </button>
          <button class="services-button">
            Crowns
            <svg width="11" height="10" class="services-icon">
              <use href="./images/icons.svg#icon-vector"></use>
            </svg>
          </button>
          <button class="services-button">
            Veneers
            <svg width="11" height="10" class="services-icon">
              <use href="./images/icons.svg#icon-vector"></use>
            </svg>
          </button>
          <button class="services-button">
            Implants
            <svg width="11" height="10" class="services-icon">
              <use href="./images/icons.svg#icon-vector"></use>
            </svg>
          </button>
          <button class="services-button">
            Invisalign
            <svg width="11" height="10" class="services-icon">
              <use href="./images/icons.svg#icon-vector"></use>
            </svg>
          </button>
        </div>
      </div>
    </li>
    <li class="services-list">
      <div>
        <p class="label">Emergency Care</p>
        <img src="./images/Image3sec3.png" width="373px" height="220px" />
        <div class="services-container">
          <p class="services-item">
            We provides emergency dental services if you have knocked out a
            tooth or are experiencing a severe toothache, do not delay seeking
            medical treatment.
          </p>
        </div>
        <div class="services-buttons">
          <button class="services-button">
            Severe toothaches
            <svg width="11" height="10" class="services-icon">
              <use href="./images/icons.svg#icon-vector"></use>
            </svg>
          </button>
          <button class="services-button">
            Bleeding gums
            <svg width="11" height="10" class="services-icon">
              <use href="./images/icons.svg#icon-vector"></use>
            </svg>
          </button>
          <button class="services-button">
            Broken teeth
            <svg width="11" height="10" class="services-icon">
              <use href="./images/icons.svg#icon-vector"></use>
            </svg>
          </button>
          <button class="services-button">
            Sports trauma
            <svg width="11" height="10" class="services-icon">
              <use href="./images/icons.svg#icon-vector"></use>
            </svg>
          </button>
        </div>
      </div>
    </li>
  </ul>
</section>
