<section class="team">
  <h4 class="team-header-four">THE PROFESSIONAL BEHIND YOUR SMILE</h4>
  <h2 class="team-header-second">Meet your neighborhood dentists</h2>
  <p class="team-item">
    We are excited to be your neighborhood dentists and take care of your<span
      class="line"
    >
      family`s dental needs.</span
    >
  </p>
  <div class="team-container">
    <div class="team-card">
      <img
        src="./images/Maria.png"
        class="team-leader"
        width="393"
        height="441"
        alt=""
      />
      <div class="team-personal">
        <h3 class="personal-name">Maria</h3>
        <h4 class="personal-profession">BDS (THERAPEUTIC DENTIST)</h4>
        <p class="personal-description">
          This dentist specializes in the treatment of caries, pulpitis, and
          other dental diseases, as well as the prevention of dental problems
        </p>
      </div>
    </div>
    <div class="team-card">
      <img
        src="./images/Darla.png"
        class="team-leader"
        width="393"
        height="441"
        alt=""
      />
      <div class="team-personal">
        <h3 class="personal-name">Darla</h3>
        <h4 class="personal-profession">BDS (ORTHODONTIC)</h4>
        <p class="personal-description">
          This dentist specializes in correcting bites and aligning teeth using
          braces and other orthodontic appliances
        </p>
      </div>
    </div>
    <div class="team-card">
      <img
        src="./images/Josh.png"
        class="team-leader"
        width="393"
        height="441"
        alt=""
      />
      <div class="team-personal">
        <h3 class="personal-name">Josh</h3>
        <h4 class="personal-profession">BDS (SURGEON DENTIST)</h4>
        <p class="personal-description">
          This dentist specializes in surgical interventions in the oral cavity,
          including tooth extractions, implants, and treatment of jaw diseases
        </p>
      </div>
    </div>
  </div>
</section>
