<section class="section-technology">
  <ul class="technology">
    <li>
      <div class="technology-icon">
        <svg width="64" height="64">
          <use href="./images/icons.svg#icon-tooth"></use>
        </svg>
      </div>
      <h3 class="technology-header">Preventive Guidance</h3>
      <p class="technology-item">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit velit, sapien
        habitant integer sen.facilisis ex non nibh
      </p>
    </li>
    <li>
      <div class="technology-icon">
        <svg width="64" height="64">
          <use href="./images/icons.svg#icon-like"></use>
        </svg>
      </div>
      <h3 class="technology-header">Friendly Service</h3>
      <p class="technology-item">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit velit, sapien
        habitant integer sen.facilisis ex non nibh
      </p>
    </li>
    <li>
      <div class="technology-icon">
        <svg width="64" height="64">
          <use href="./images/icons.svg#icon-technology"></use>
        </svg>
      </div>
      <h3 class="technology-header">Dental Technology</h3>
      <p class="technology-item">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit velit, sapien
        habitant integer sen.facilisis ex non nibh
      </p>
    </li>
  </ul>
</section>
