<section class="section-technology">
  <ul class="technology">
    <li>
      <div class="technology-icon">
        <svg width="64" height="64">
          <use href="./images/icons.svg#icon-tooth"></use>
        </svg>
      </div>
      <h3 class="technology-header">Preventive Guidance</h3>
      <p class="technology-item">
        "Your Smile, Our Priority: Focused on Prevention"
      </p>
      <p class="technology-item">
        "Prevention is Better than Cure: Stay Ahead with Us"
      </p>
    </li>
    <li>
      <div class="technology-icon">
        <svg width="64" height="64">
          <use href="./images/icons.svg#icon-like"></use>
        </svg>
      </div>
      <h3 class="technology-header">Friendly Service</h3>
      <p class="technology-item">
        "Caring Hands, Friendly Faces: Your Comfort First"
      </p>
      <p class="technology-item">"Where Every Smile Feels at Home"</p>
    </li>
    <li>
      <div class="technology-icon">
        <svg width="64" height="64">
          <use href="./images/icons.svg#icon-technology"></use>
        </svg>
      </div>
      <h3 class="technology-header">Dental Technology</h3>
      <p class="technology-item">
        "Advanced Dental Care with Cutting-Edge Technology"
      </p>
      <p class="technology-item">"High-Tech Solutions for a Healthy Smile"</p>
    </li>
  </ul>
</section>
